
@{
    Layout = null;
}
@model string



<div class="main-container container">
    <div class="row">
        <div id="content" class="col-sm-12">
            <h2 class="title">Order Confirmation</h2>
            <p>@Model</p>
            
        </div>
    </div>

</div>
