
@{
    Layout = null;
}
@model string
<style type="text/css">
    .container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<div class="container">
    <div class="row">
        <div id="content">
            <img src="~/Images/barakat-fresh-logo-email.jpg">
            <h2 class="title">Order Confirmation</h2>
            <p>Thank You! Your order has been placed</p>
            <p>You will receive an email confirmation shortly.</p>
        </div>
    </div>
</div>
